html,body{
    padding: 0;
    margin: 0 auto;
    color: var(--text-color);
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}

html {
    font-family: $main-font;
    font-size: 50%;
    overflow-y: scroll;
}

body{
    font-size: 2.25rem;    
}

header {
    font-size: 4rem;
    font-family: $header-font;
}

header.sticky {
    background-color: rgba(131,156,93,0.99);//#839c5d;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-icon {
    margin-right: 1rem;
}

.header-content {
    margin: 0 auto;
    display: flex;
}


.header-content nav {
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.header-content a[href] {
    color: white;
}

main {
    margin: 0 auto;
    width: 40em;
}