@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;700&display=swap');

@font-face {
    font-family: 'header-font';
    src: url("/fonts/archistico_bold.ttf") format("truetype");
}

$main-font: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
$header-font: 'header-font', sans-serif;