---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---



We also encourage local face to face meet-ups so that people can get to know and work with people in their local area. This is already happening on kulin country in melbourne (first Wednesday of the month, from 6pm), and in central victoria. The network is what we make it, so we encourage everyone involved to step in and step up with your ideas, and then organise them! If you want any support organising something, bring it up at a gathering.


Anyone who agrees with, and takes action to create and support, degrowth as we have defined it above, and who respects the ‘participants’ agreement’ below, is welcome!


Questions? Ideas? Want to get involved? Email us at degrowthnetwork@proton.me!
